:root {
/*Font family*/
--tipo: "Roboto", Arial, sans-serif;
--tipo-light: 300;
--tipo-normal: 400;
--tipo-medium: 500;

/*Colors*/
--white: #ffffff;
--black: #111;
--link-hover: #5f5f5f;

/*Escala tipográfica*/
--text-base: 26px;
--text-l: 34px;

/*Espaciados*/
--margin-v-l: 190px;
--margin-v-m: 100px;
--margin-v-s: 20px;


}


@media (max-width: 1000px) {
    :root {
        /*Escala tipográfica*/
        --text-base: 22px;
        --text-l: 28px;
        /*Espaciados*/
        --margin-v-l: 150px;
        --margin-v-m: 100px;
        --margin-v-s: 20px;
    }
}

@media (max-width: 500px) {
    :root {
        /*Escala tipográfica*/
        --text-base: 21px;
        --text-l: 21px;
        /*Espaciados*/
        --margin-v-l: 50px;
        --margin-v-m: 100px;
        --margin-v-s: 20px;
    }
}


